@import "tailwindcss";
@plugin "daisyui";

article {
  caret-color: transparent;
}

.selected {
  @apply outline-solid outline-2 outline-blue-500 rounded;
}

span[data-type="text"] {
  caret-color: auto;
}

.exercise.multipleChoice {
  @apply p-4 mb-2 rounded-lg shadow-md bg-gray-100 dark:bg-gray-800 border-0;
}

span[data-type="text"]::after {
  /* Render &nbsp; as a non-breaking space so that the span does not collapse */
  content: "\0000A0";
}
